Repository Dabrytskaya/practice-code-review, pull requests merged in 2021-07, with the labels that each got.

#2 uploading Moamin's changes
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  moamin.md
  package-lock.json
  src/deep-flat/template-solution/README.md
  src/deep-flat/template-solution/deepFlat.js
  src/deep-flat/template-solution/deepFlat.spec.js
  src/deep-flat/template-solution/sandbox.js
  src/difference/template-solution/README.md
  src/difference/template-solution/difference.js
  src/difference/template-solution/difference.spec.js
  src/difference/template-solution/sandbox.js
  src/intersection/template-solution/README.md
  src/intersection/template-solution/intersection.js
  src/intersection/template-solution/intersection.spec.js
  src/intersection/template-solution/sandbox.js
  src/split-object/template-solution/README.md
  src/split-object/template-solution/sandbox.js
  src/split-object/template-solution/splitObject.js
  src/split-object/template-solution/splitObject.spec.js
Labels: deep-flat, difference, intersection, split-object

#8 sovling difference exercise fully
  src/difference/template-solution-Moamin/README.md
  src/difference/template-solution-Moamin/difference.js
  src/difference/template-solution-Moamin/difference.spec.js
  src/difference/template-solution-Moamin/sandbox.js
Labels: difference

#6 solution for split-object : Deepa
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  src/intersection/template-solution/README.md
  src/split-object/split-object-deepa/README.md
  src/split-object/split-object-deepa/sandbox.js
  src/split-object/split-object-deepa/split-object.js
  src/split-object/split-object-deepa/split-object.spec.js
  tempFile
Labels: split-object

#17 solution for deep-flat
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  src/deep-flat/deep-flat-deepa/README.md
  src/deep-flat/deep-flat-deepa/deep-flat.js
  src/deep-flat/deep-flat-deepa/deep-flat.spec.js
  src/deep-flat/deep-flat-deepa/sandbox.js
Labels: deep-flat

#11 added solution for difference
  docs/README.md
  docs/dependency-graph.html
  docs/dependency-graph.svg
  src/difference/difference-deepa/README.md
  src/difference/difference-deepa/difference.js
  src/difference/difference-deepa/difference.spec.js
  src/difference/difference-deepa/sandbox.js
Labels: difference
